<section>
    <h2>Persons List</h2>
    <table>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Nickname</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let person of persons">
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.nickName }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone }}</td>
            </tr>
        </tbody>
    </table>
</section>