<section>
    <h2>New Book</h2>
    <form class="bookFov" (ngSubmit)="saveBook()">
        <div class="input-group input-group-sm mb-3 bookDiv">
            <div class="display01">
                <span class="input-group-text" id="inputGroup-sizing-sm">Book</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="name" name="name" [(ngModel)]= "name">
            </div>

            <div class="display01">
                <span class="input-group-text" id="inputGroup-sizing-sm">Gender</span>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="gender" id="gender" [(ngModel)]="gender">
                    <option selected *ngFor="let gender of genders" value="{{gender._id}}">{{gender.name}}</option>
                </select>
            </div>

            <div class="display01">
                <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
                <textarea class="form-control" placeholder="Leave a description here" id="floatingTextarea2" style="height: 100px"  name="descriptions" [(ngModel)]="description"></textarea>
            </div>

            <div class="display01">
                <span class="input-group-text" id="inputGroup-sizing-sm">Lent to</span>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="lentTo" id="lentTo" [(ngModel)]="lentTo">
                    <option selected *ngFor="let person of persons" >{{person.nickName}}</option>
            </select>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit" >Add Book</button>
        </div>
    </form>

</section>