/* You can add global styles to this file, and also import other style files */
.zagText {
    color: #F72585;
}
body {
    background-color: #333533;
}

footer {
    background-color: black;
    color: #F72585;
    text-align: center;
    width: 100%;
    height: 10vh;
}